.wrapper {
  position: relative;

  .label {
    margin-bottom: 12px;
    font: var(--font-heading-4);
  }

  .sub-label {
    margin-top: 5px;
    margin-bottom: 8px;
    font: var(--font-heading-4);
  }
}

.select-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 16px;
  border: 1px solid var(--gdf-blue-ghost);
  background: var(--gdf-white);
  color: #373c3e;
  min-width: 212px;
  padding: 12px 16px;
  font: var(--font-heading-4);
  position: relative;

  &.select-toggle::after {
    transform: translateY(-50%) rotate(135deg);
  }

  &::after {
    content: '';
    border: 1px solid;
    border-bottom: 0;
    border-left: 0;
    display: block;
    height: 7px;
    width: 7px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%) rotate(45deg);
    transition-duration: 0.3s;
    transition-property: -webkit-transform, transform;
  }

  @media only screen and (min-width: 768px) {
    height: 42px;
    width: 170px;
  }
}

.select-options {
  z-index: 999;
  width: 278px;
  max-height: 496px;
  right: 0;
  display: none;
  border-radius: 16px;
  padding: 12px;
  margin-top: 16px;
  background: var(--gdf-white);
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: pointer;
  position: absolute;

  &.active {
    display: block;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 0px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background: #d1d1d6;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #888;
    border-radius: 20px;
  }
}

.option {
  display: flex;
  align-items: center;
  padding: 13px 21px;
  cursor: pointer;

  &:hover {
    color: var(--gdf-purple-medium);
  }
}
