.payment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 24px;
  padding: 24px 28px;
  width: 100%;
  height: max-content;
  background: var(--gdf-purple-snuff);

  .price-properties {
    display: flex;
    align-items: center;
    column-gap: 9px;
  }

  .description-fee {
    margin-top: 4px;
    font: var(--font-heading-5);
    color: var(--gdf-grey-manatee);
  }

  .btn-buy-now {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 24px;
    color: var(--gdf-white);
    background: var(--gdf-purple-medium);
  }
}
